.project-tour-planer-maon-section-form-content-single-input {
    margin-bottom: 13px;
}
.project-tour-planer-maon-section-form-content-input-box {
    margin-top: 25px;
}
.project-tour-planer-maon-section-form-content-single-input label {
    display: block;
    margin-bottom: 2px;
    font-weight: 600;
    color: #ffffff;
    font-size: 13px;
}
.project-tour-planer-maon-section-form-content-single-input input {
    background-color: #d9d9da;
    border-radius: 8px;
    width: 60%;
    height: 38px;
    outline: none;
    font-size: 13px;
    padding: 7px 8px 7px 12px;
    border: 1px solid #e8e8e8;
}
.project-tour-planer-maon-section-form-content-single-input textarea {
    background-color: #d9d9da;
    border-radius: 8px;
    width: 60%;
    height: 62px;
    outline: none;
    font-size: 13px;
    padding: 7px 8px 7px 12px;
    border: 1px solid #e8e8e8;
}
.project-tour-planer-maon-section-form-content-single-input select {
    background-color: #d9d9da;
    border-radius: 8px;
    width: 60%;
    height: 38px;
    outline: none;
    font-size: 13px;
    padding: 7px 8px 7px 12px;
    border: 1px solid #e8e8e8;
}
.project-tour-planer-maon-section-form-content-sumnt-btn button {
    background-color: #1dadd8;
    border: none;
    border-radius: 10px;
    padding: 7px 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    box-shadow: 0 0 5px rgb(7 133 181 / 80%);
    margin-top: 14px;
    margin-bottom: 50px;
}
.project-tour-planer-maon-section-form-content-sumnt-btn button:hover {
    background-color: #06a0cf;
    transition: .2s;
}
.project-tour-planer-maon-section-form-content-hedd h3 {
    color: #1fd0e2;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 25px;
    border-bottom: 2px solid #44c2d6;
    padding-top: 5px;
    padding-bottom: 5px;
}